<% title "Наши филиалы" %>

<div class="b-article">  
  <h1>Наши филиалы</h1>
  
  <p class="lid">
    Удобное месторасположение наших филиалов позволит вам быстро добраться до нас, где бы вы не находились.
    Нажмите на адрес филиала, чтобы получить всю информацию о нем.
  </p>  
  
  <ul class="offices-list">
    <% @offices.each do |office|%>
      <li><%= link_to office.address, office %></li>
    <% end %>
  </ul>
</div>