form.simple_form {
    font: normal normal normal 12px Arial, sans-serif;
    letter-spacing: normal;
    position: relative;  
	label {
	    display: block;
	    font-weight: bold;
	    padding-bottom: 8px;	
	    vertical-align: baseline;    
	    span { font-weight: normal;	}
	}
	div.input {
		margin-bottom: 20px;
		position: relative;
	}	
	div.string, div.text, div.password, div.numeric {
		input, textarea { 
		    border: 1px solid #CCC;
		    display: inline-block;
		    font-size: 12px;
		    letter-spacing: normal;
		    padding: 8px;
		    width: 255px;
		    zoom: 1;
    	}
	}
	input[type="checkbox"] { margin-left: 0; }
	textarea { height: 124px; resize: vertical; } 
	hr { margin-bottom: 18px; width: 100%; }
	p {
	    font-size: 13px;
	    line-height: 18px;
	}
	.hint {
	    color: #999;
	    display: block;
	    font-size: 11px;
	    font-weight: normal;
	    line-height: 1.7;
	}
	.error {
		color: red;
		display: block;
		margin-top: 3px;
	}
	.boolean {
		label {
			display: inline;
			margin-right: 15px;
			margin-left: 5px; }
	}
	
}

