// Colors
@first_main_color: #df1d5c;
@second_main_color: #6cba33;
@third_main_color: #2576d2;
@primary_text_color: #212121;
@secondary_text_color: #888;
@primary_bg_color: white;
@secondary_bg_color: #e1e1e1;

// Widths
@general_width: 1000px;

// Import
@import "shared/_forms";

body {
	background: white;
	font-family: Helvetica, Arial, serif;
	font-size: 14px;
}

h1, h2, h3 {
	font-family: 'Arial black', Gadget, sans-serif;
}

h1 { 
	font-size: 30px;
	margin-bottom: .7em; 
}
h2 { 
	font-size: 18px; 
	font-weight: bold; 
	margin-bottom: .2em;
}
h3 { 
	font-size: 14px; 
	font-weight: bold;	
	margin-bottom: .5em;
}

.clear { clear: both; }
.nobr { white-space: nowrap; }
.emphasized { color: @first_main_color; }
span.half-space {
	font-size: 0.5em;
	line-height: 0;
}

.pageContainer {
	background: url("/images/top-line.png") no-repeat 0 0;
	margin: 0px auto;
	width: 1000px;
}

.pageWrapper {
	padding: 0 30px;
}

.header {
	margin-right: -60px;
	padding: 30px 0 53px 0;
	position: relative;
	
	.logo, .address, .phone {
		position: relative;
		float: left;
		margin-right: 60px;
	}
	
	.address, .phone {
		top: 42px;
	}
	
	.phone {
		.code {
			color: @secondary_text_color;
			font-size: 84%;
			vertical-align: top; 
		}
		
		.number { font-size: 104%; }
	}
}

.content {
	.superForm {
		background-color: @secondary_bg_color;
		padding: 20px 15px;
		
		.b-picker {margin-bottom: 10px;}

		.b-picker .b-picker-value {
			width: 233px;
			z-index: 10;	
		}
		
		.b-picker .b-picker-value,
		.b-picker .b-picker-operator {
			float: left;
		}
		
		.b-loan-results .primary-count 	{ color: @first_main_color; }
		.b-loan-results .fees 			{ color: @second_main_color; }
		.b-loan-results .secondary-count 	{ color: @third_main_color; }
		
		.b-picker .b-picker-operator-minus,
		.b-picker .b-picker-operator-plus {
			font-size: 16px;
			font-weight: bold;
			cursor: pointer;
		}
		
		b-picker-operator { font-size: 22px; }
		
		.b-picker-amount .ui-widget-content {
			border: #df1d5c solid 1px !important;
		}
		
		.b-picker-days .ui-widget-content {
			border: #6cba33 solid 1px !important;
		}
		
		.b-recalc-form {
			position: relative;
			width: 300px;
		}
	}
}

.new-button, .new-button button {
	background: url(/images/new-button.png) no-repeat;
	display: -moz-inline-stack;
	display: inline-block; /* Эмуляция для FF2 */
	font-size: 30px;
	color: #212121;
}
 
.new-button { margin-right: 3px; }
 
.new-button button {
	border: 0;
	margin: 0;
	padding: 0 12px 0 9px;
	position: relative;
	left: 3px;
	height: 48px;
	line-height: 22px;
	background-position: top right;
	white-space: nowrap;
}

.new-button-small, .new-button-small button {
	background: url(/images/new-button-small.png) no-repeat;
	display: -moz-inline-stack;
	display: inline-block; /* Эмуляция для FF2 */
	font-size: 22px;
	color: #212121;
}
 
.new-button-small { margin-right: 3px; }
 
.new-button-small button {
	border: 0;
	margin: 0;
	padding: 0 12px 0 9px;
	position: relative;
	left: 3px;
	height: 38px;
	line-height: 22px;
	background-position: top right;
	white-space: nowrap;
}

