/**
 * Блок фильтра
 * @author Антон Шеин
 **/

* html body {overflow-x: hidden;}

/* Основной контейнер **/
.filter-box {
	width: 205px; 
	font-family: Arial, Helvetica, sans-serif; 
	margin: 10px 0px 15px 0px;}
/*.filter-box * {border: 1px solid red;}  */
/* Отмена непереносимости слов в лейблах */
.filter-box label {white-space: normal;}

/* Скругляющие уголки*/
.filter-box .ctl,
.filter-box .ctr,
.filter-box .cbl,
.filter-box .cbr {position: absolute; width: 3px; height: 3px; background: url("/images/filter_sprite.png") no-repeat; _display: none;}
.filter-box .ctl {top: 0; left: 0; background-position: -420px -240px;}
.filter-box .ctr {top: 0; right: 0; background-position: -473px -240px; }
.filter-box .cbl {bottom: 0; left: 0; background-position: -440px -253px;}
.filter-box .cbr {bottom: 0; right: 0; background-position: -493px -253px;}


    /* Закладки для фильтра с переключением между новыми и подержанными машинами ***/
.filter-box .tabs {position: relative; height: 25px;}
.filter-box .tabs .tab {float: left;  height: 20px; font-size: 13px; padding: 5px 5px 0 5px; font-family: Calibri, sans-serif;}
.filter-box .tabs .tab_active {padding-left: 15px; background: url("/images/filter_sprite.png") 0px 0px no-repeat;}
.filter-box .body {font-size: 10px; clear: both; padding: 6px 3px 3px 3px; }

* html .filter-box h3 {zoom: 1;}
    /* Заголовок отдельного фильтра **/
.filter-box h3 {font-size: 13px; padding: 3px 4px 3px 0px; text-align: left; position: relative;}
.filter-box h3.with-select {background: #dcd3ca; cursor: pointer;}
.filter-box h3.with-select a {color: #000; border-color: #000;}
.filter-box h3.with-select .select-arrow {position: absolute; width: 9px; height: 6px; right: 7px; top: 8px;}
.filter-box h3.with-select .select-arrow {background: url('/images/filter_sprite.png') -120px -40px no-repeat;}
.filter-box h3:hover.hovered,
.filter-box h3.hover {background: #f8dfbb;}
.filter-box h3.checked {background: #f6d48f -380px -40px no-repeat !important;}

    /* Общий класс для блоков фильтра **/
.filter-box .block {margin-bottom: 15px; clear: both;}
.filter-box .block-radio {margin-bottom: 20px;}

    /* Блок с селектом **/
.filter-box .block-select select {width: 100%; font-family: Arial, Helvetica, sans-serif; position: relative; left: -4px;}

    /* Блок со слайдером */
.filter-box .body_container {margin-left: 10px; width: 150px; *margin-left: 0px;}
.filter-box .slider_container {width: 150px; height: 12px; margin-top: 15px; background: url('/images/filter_sprite.png') -430px -60px no-repeat; border: none;}

.filter-box .coolness .slider_container,
.filter-box .comfort .slider_container {margin-top: -4px;}

.filter-box .slider_container .legend {height: 13px; z-index: 10; width: 1px; background: #fbf1dd; bottom: 0px; font-size: 10px; display: block; position: absolute;}
.filter-box .slider_container .legend .container {width: 5em; position: absolute; left: -2.5em; text-align: center;}

.filter-box .ui-widget-header {background:  url('/images/filter_sprite.png') -430px -72px no-repeat;}
.filter-box .ui-slider-horizontal .ui-slider-handle {margin-left: -8px; height: 28px; -moz-border-radius: 0; background: url('/images/filter_sprite.png') -385px -336px no-repeat; border: none; z-index: 15;}

* html .filter-box .ui-widget-header {background:  url('../i/filter/filter_sprite-ie6.png') -430px -72px no-repeat; zoom: 1; position: absolute; height: 12px;}
* html .filter-box .slider_container {background: url('../i/filter/filter_sprite-ie6.png') -430px -60px no-repeat; zoom: 1;}
* html .filter-box .ui-slider-horizontal .ui-slider-handle {zoom: 1;}

    /* Блок с радио-кнопками **/
.filter-box .block-radio .item {float: left; width: 25px; text-align: center;}
.filter-box .block-radio .item span.legend {font-size: 10px; display: block;}
.filter-box span.legend span.smaller-than {margin-left: -0.8em;}
.filter-box span.legend .infinity  {font-size: 1.3em; margin-left: -0.2em; margin-top: 0.1em;}
* html .filter-box span.legend span.smaller-than {font-size: 8px;}    /* Иначе знак <= слишком больлшой в IE6 **/
.filter-box .block-radio .item input {display: block; margin: auto;}

    /* Блок выбора цены **/
.filter-box .price {margin-bottom: 17px;}

    /* Блок выбора Крутизны **/
.filter-box .coolness {}

    /* Блок выбора Комфорта **/
.filter-box .comfort {margin-bottom: 29px;}


    /* Общее для чекбоксов */
.filter-box .checkbox input {z-index: 10; position: relative;}
.filter-box .checkbox input.hidden {opacity: 0; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);}
.filter-box .checkbox .erzats-checkbox {position: absolute; z-index: 3; left: 5px; top: 3px; width: 14px; height: 15px; background:  url('/images/filter_sprite.png') -80px -40px no-repeat;}
.filter-box .checkbox h3.checked .erzats-checkbox {background-position: -100px -40px;}
.filter-box .checkbox {position: relative; clear: both; margin-bottom: 11px;}
.filter-box .checkbox .on-the-fire {position: absolute; z-index: 1; left: 3px; top: -4px; width: 41px; height: 24px;}
.filter-box .checkbox .on-the-fire input {position: absolute; bottom: 3px; left: 3px; *left: -1px; *bottom: 0px; padding /*\***/: 0px;} /*Хак для IE, чтобы чекбокс не уползал**/
* html .filter-box .checkbox .on-the-fire input {zoom: 1;}
* html .filter-box .checkbox .erzats-checkbox {left: 5px; top:5px;}
.filter-box .checkbox h3 {z-index: 1;  *z-index: 1;}

* html .filter-box .checkbox .erzats-checkbox {background:  url('../i/filter/additional-ie6.png') -81px -4px no-repeat;}
* html .filter-box .checkbox h3.checked .erzats-checkbox {background-position: -101px -4px;}


.filter-box .checkbox {}
.filter-box .checkbox h3 span{position: relative; z-index: 5; display: block;}
/* Блок «только горящие **/
.filter-box .burning-only {margin-bottom: 18px;}
.filter-box .burning-only .on-the-fire {background: url("/images/filter_sprite.png") -30px -36px no-repeat;}

    /* Общее для блока селектов */
.filter-box .variants-list {display: none; position: absolute; width: 200px; background: #FFF; z-index: 100; left: 0px; top: -7px;
                            padding: 3px 0px 5px 0px; cursor: default; *zoom: 1; *z-index: 300;}
.filter-box .variants-list-double {padding: 0;}
.filter-box .variants-list-double
.filter-box .variants-list-double

.filter-box .block-select {zoom: 1; z-index: 300;}
.filter-box .block-select h3 {padding-top: 0; *zoom: 1; *z-index: 300;}

.filter-box .block-select h3.changed{background-position: -380px -40px; background-color: #F6D48F;}
.filter-box .block-select .variants-list a {display: block; text-decoration: none; padding: 2px 3px 4px 11px; margin-top: 3px;}
.filter-box .block-select .variants-list a:hover {background-color: #f6d48f;}
.filter-box .block-select .variants-list a.active {cursor: default; color: #000;  position: relative;}
.filter-box .block-select .variants-list a:hover.active span {color: #000;}
.filter-box .block-select .variants-list a.active span.current {color: #000; position: absolute; left: 0.4em; top: 0.2em; font-size: 0.8em;}
.filter-box .block-select .variants-list a.active span {border: none;}
.filter-box .block-select .variants-list a span.header {font-weight: bold;}

.filter-box .block-select .variants-list a.similar {margin-top: -1px;}
.filter-box .block-select .variants-list a span{border-bottom: 1px dashed #000;}
.filter-box .block-select .variants-list a:hover span{}
.filter-box .block-select .variants-list .list-body {position: relative; z-index: 100;}
.filter-box .block-select .variants-list .list-body a {padding-left: 21px;}

    /* Корректировка общей тени, а то выходит за границы окна */
.filter-box .shadow-container .tr,
.filter-box .shadow-container .br  {padding-right: 2px;}
.filter-box .shadow-container .tr .shadow-sprite {top: 0; right: -13px;}
.filter-box .shadow-container .br .shadow-sprite {bottom: 0; right: -13px;}


/* Пробег */
.filter-box .milage {margin-bottom: 20px;}


    /* Выбор модели **/
.filter-box .model {}
.filter-box .block-select .brands-list {float: left; position: relative; z-index: 100; width: 87px; border-right: 1px solid #ddccc1; height: 100%;}
.filter-box .block-select .models-list {float: left; position: relative; z-index: 100; width: 111px;}

    /* Блок «тип кузова» **/
.filter-box .type-of-body {}

    /* Блок цвета **/
.filter-box .color-block {}
.filter-box .color-block .colors-group {width: 144px; margin-left: 23px;}
.filter-box .color-block .color-box {float: left; width: 16px; height: 16px;}
.filter-box .color-block .corner-box {width: 16px; height: 16px; position: relative;}
.filter-box .color-block .corner-tl,
.filter-box .color-block .corner-tr,
.filter-box .color-block .corner-bl,
.filter-box .color-block .corner-l,
.filter-box .color-block .corner-r,
.filter-box .color-block .corner-br {width: 16px; height: 16px; background: url("/images/filter_sprite.png") no-repeat;}
.filter-box .color-block .corner-tl {background-position: -420px -240px;}
.filter-box .color-block .corner-tr {background-position: -460px -240px;}
.filter-box .color-block .corner-bl {background-position: -440px -240px;}
.filter-box .color-block .corner-br {background-position: -480px -240px;}
.filter-box .color-block .corner-l {background-position: -380px -240px;}
.filter-box .color-block .corner-r {background-position: -400px -240px;}
.filter-box .color-block .glare {display: block; width: 16px; height: 16px;}
.filter-box .color-block .metallic .glare {display: block; background: url("/images/filter_sprite.png") -380px -260px no-repeat;}
.filter-box .color-block .common .glare {display: block; background: url("/images/filter_sprite.png") -380px -280px no-repeat;}
.filter-box .color-block .metallic :hover.glare {background-position: -400px -260px;}
.filter-box .color-block .common :hover.glare {background-position: -400px -280px;}
.filter-box .color-block .metallic .hover,
.filter-box .color-block .metallic .active {background-position: -400px -260px;}
.filter-box .color-block .common .hover,
.filter-box .color-block .common .active {background-position: -400px -280px;}
.filter-box .color-block .selected {width: 22px; height: 22px; position: absolute; left: -3px; top: -3px; background: url("/images/filter_sprite.png") 0 -38px no-repeat;}

.filter-box .color-block .color-picker-container {margin-left: 23px; width: 144px; height: 40px; position: relative; background: url("/images/filter_sprite.png") -380px -300px no-repeat;}
.filter-box .color-block .color-picker-container .color-picker {width: 11px; height: 11px; position: absolute; background: url("/images/filter_sprite.png") -530px -300px no-repeat;}

.filter-box .color-block .color-gradient-container {margin-left: 23px; margin-top: 4px; width: 145px; height: 36px; position: relative; background: url("/images/filter_sprite.png") -380px -300px no-repeat; *margin-left: 0px;}
* html .filter-box .color-block .color-gradient-container {margin-left: -5px;}
.filter-box .color-block .color-gradient-container .color-gradient {width: 24px; height: 24px; position: absolute; background: url("/images/filter_sprite.png") -560px -300px no-repeat;}
.filter-box .color-block .color-gradient-container .color-gradient-small {height: 15px; background-position: -530px -300px;}
.filter-box .color-block .color-name {font-size: 13px; display: block; text-align: left; margin-left: 23px; height: 1em;}

.filter-box .submit-container {margin: 10px 0px 0px 14px; width: 140px; height: 30px; background: url("/images/filter_sprite.png") -440px -120px no-repeat;}
.filter-box .submit-container  .submit-button {font-size: 11px; padding: 8px 10px; color: #000; text-align: left; display: block; cursor: pointer; margin-left: 49px; height: 14px; background: url("/images/filter_sprite.png") -489px -120px no-repeat;}
.filter-box .submit-container  :hover.submit-button {background-position: -489px -150px;}

.filter-box .filter-footer {position: absolute; width: 205px; height: 49px; left: 0; bottom: -48px; background: url("/images/filter_sprite.png") -380px -180px no-repeat;}
.filter-box .filter-footer input {position: relative; top: 10px; font-size: 15px; }


.shadow-container .shadow-sprite {position: absolute; width: 140px; height: 330px; background: url("/images/filter_sprite.png") -6px -64px no-repeat;}
.shadow-container .shadow {position: absolute; z-index: 1; width: 50%; height: 50%; overflow: hidden; padding: 15px 15px 15px 13px;}
.shadow-container .tl {left: -13px; top: -15px; padding-right: 0; padding-bottom: 0;}
.shadow-container .tl .shadow-sprite {top: 0; left: 0;}
.shadow-container .tr {left: 50%; top: -15px; padding-left: 0; padding-bottom: 0;}
.shadow-container .tr .shadow-sprite {top: 0; right: 0;}
.shadow-container .bl {left: -13px; top: 50%; padding-right: 0; padding-top: 0;}
.shadow-container .bl .shadow-sprite {bottom: 0; left: 0;}
.shadow-container .br {left: 50%; top: 50%; padding-left: 0; padding-top: 0;}
.shadow-container .br .shadow-sprite {bottom: 0; right: 0;}

span.half-space { font-size: .5em; line-height: 0; }
   /*
    Руб.
    */
span.rub { text-transform: uppercase; }

/*@media all and (min-width: 0) {
    .switch-km4 span.rub,
    .current-switch-km4 span.rub
    { padding-right: .5em; }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    body:first-of-type .switch-km4 span.rub,
    body:first-of-type .current-switch-km4 span.rub
    { padding-right: 0; }
}
@-moz-document url-prefix(){
    .switch-km4 span.rub,
    .current-switch-km4 span.rub
    { padding-right: 0; }
}*/

 /*Чёрточка по дефолту отлично подходит к 13-му кеглю. Скорее всего при использовании знака рубля в другом кегле, потребуется переопределить свойство margin-top. */
span.rub i { position: absolute; overflow: hidden; width: .5em; height: 1em; margin: .077em 0 0 -.7em; //margin-top: .03em; }

@media all and (-webkit-min-device-pixel-ratio:10000),
not all and (-webkit-min-device-pixel-ratio:0) {
  span.rub i { position: relative; margin: 0; left: -.7em; top: .077em; }
}

@media all and (min-width: 0) {
    .switch-km4 span.rub,
    .current-switch-km4 span.rub
    { padding-right: .5em; }
}

/*@-moz-document url-prefix(){
    span.rub i { margin-left: -.69em; }
}*/

/*.ruble{ text-transform: uppercase; }
.ruble span{ display: none; }
.ruble span.dash { display: inline; position: relative; left: -1.3ex; margin-right: -1.3ex; top: 0.08em; behavior: expression(this.after=this.after?true:(false,this.innerHTML='&ndash;',this.style.visibility='visible'));
}
.ruble span.dash:after{ content: '\2013'; }*/