.b-picker.b-picker-amount
  #data-picker-minus-amount.b-picker-operator.b-picker-operator-minus
    %span -
  #data-picker-amount.b-picker-value
  #data-picker-plus-amount.b-picker-operator.b-picker-operator-plus
    %span +
  .b-picker-value
    %input#request_amount{:name => "request[amount]", :type => "text", :value => ""}/
  .clear
.b-picker.b-picker-days
  #data-picker-minus-day.b-picker-operator.b-picker-operator-minus
    %span -
  #data-picker-days.b-picker-value
  #data-picker-plus-day.b-picker-operator.b-picker-operator-plus
    %span +
  .b-picker-value
    %input#request_days{:name => "request[days]", :type => "text", :value => ""}/
  .clear
.b-loan-results
  Занимаете
  %span.primary-count 3000 руб.
  + налоги и проценты
  %span.fees 600 руб.
  \= отдаете
  %span.secondary-count 3600 руб.