= title "Быстрые займы в Самаре"
#step-1
  .superForm
    .bg
      %h1 
        Займы без залога до 
        = succeed "!" do
          %span{:class => "emphasized"}<
            10
            %span.half-space
            000 рублей
            
      = render "form"
    .b-star.b-star-15_minutes
    .b-star.b-star-2_docs
    .b-ruble-guy
  .b-content-body
    .b-content-main
      %p
        Займы (деньги) предоставляются в течении 
        %em.emphasized 15 минут
        с момента заполнения заявки.
        %br/
        Гарантированное получение при условии предоставления достоверной информации в заявке.    
        %ul
          %li Сумма займа 1000 — 10000 рублей.
          %li Срок займа от 7 до 16 дней.
          %li Без залога. Без справок!
          %li Без комиссии.
          %li Процентная ставка по займу — 2% в день за каждый день пользования денежными средствами.
      %br/     
      %p
        Займы предоставляются физическим лицам, имеющим 
        %em.emphasized прописку в г.Самара 
        и 
        %em.emphasized постоянное место работы.
        %br/ 
        Для оформления достаточно предъявить паспорт гражданина РФ и один из следующих документов:    
        %ul 
          %li Заграничный паспорт.
          %li Военный билет.
          %li Страховое свидетельство государственного пенсионного страхования.
          %li Водительское удостоверение.
          %li ИНН.
            
    .b-content-footnotes
      %h2 Филиалы
      .branch
        ул. Победы, 86
        %span пн.-сб. 09:00 — 20:00        
      .branch
        ул. Куйбышева, 72
        %span пн.-пт. 10:00 — 19:00
      .branch
        ул. Стара-Загора, 130
        %span пн.-сб. 09:00 — 20:00
        
#step-2
  .loan-conditions
    .b-loan-results
      Занимаете
      %span.primary-count 3000 руб.
      + налоги и проценты
      %span.fees 600 руб.
      \= отдаете
      %span.secondary-count 3600 руб.
  .loan-details
    = render "requests/form"