= title "Быстрые займы в Самаре"
.text-block
  %h3 Вам срочно понадобились деньги?
  %p 
    Компания 
    %em.emphasized «Магазин Кредитов» 
    готова помочь Вам с деньгами. Наш сервис очень простой и доступный каждому. Вы просто заполняете заявку, и 
    %em.emphasized через 15 минут 
    вы получаете деньги. 
  %p  
    Ваша кредитная история — абсолютно неважна.
    %br/
    Даже если прямо сейчас, вам не нужны деньги, не поленитесь заполнить заявку. Потом Вам будет достаточно в любое время подъехать в офис, получить деньги при предъявлении паспорта.
#step-1
  .superForm
    .bg
      %h1 
        Займы без залога до 
        = succeed "!" do
          %span{:class => "emphasized"}<
            10
            %span.half-space
            000 рублей
            
      = render "form"
    .b-star.b-star-15_minutes
    .b-star.b-star-2_docs
    .b-ruble-guy
  .b-content-body
    .b-content-main
      %p
        Займы (деньги) предоставляются в течении 
        %em.emphasized 15 минут
        с момента заполнения заявки.
        %br/
        Гарантированное получение при условии предоставления достоверной информации в заявке.    
        %ul
          %li Сумма займа 1000 — 10000 рублей.
          %li Срок займа от 7 до 16 дней.
          %li Без залога. Без справок!
          %li Без комиссии.
          %li Процентная ставка по займу — 2% в день (732% годовых) за каждый день пользования денежными средствами.
      %br/     
      %p
        Займы предоставляются физическим лицам, имеющим 
        %em.emphasized прописку в г.Самара 
        и 
        %em.emphasized постоянное место работы.
        %br/ 
        Для оформления достаточно предъявить паспорт гражданина РФ и один из следующих документов:    
        %ul 
          %li Заграничный паспорт.
          %li Военный билет.
          %li Страховое свидетельство государственного пенсионного страхования.
          %li Водительское удостоверение.
          %li ИНН.
            
    .b-content-footnotes
      %h2 Филиалы
      .branch
        %span.addr 
          ул. Победы, 86 
        %br/
        (пересечение с ул. Матросова)
        %span.time ежедневно 10:00 — 19:00        
      .branch
        %span.addr 
          ул. Куйбышева, 71 
        %br/
        (магазин «Горилка», <nobr>2-й</nobr> этаж)
        %span.time ежедневно 10:00 — 19:00  
      .branch
        %span.addr 
          ул. Стара-Загора, 130 
        %br/
        (магазин «Пятерочка»)
        %span.time ежедневно 10:00 — 19:00  
      .branch
        %span.addr 
          ул. Стара-Загора, 301 
        %br/
        (магазин «Пятерочка»)
        %span.time ежедневно 10:00 — 19:00
    
      .b-affiliate-button
        %h3 У нас действует выгодная
        %a{:href => url_for_affiliate}
          %span.new-button-small
            %div{:class => "b-form-button"} партнерская программа 
    
                
#step-2
  .loan-conditions
    .b-loan-results
      Занимаете
      %span.primary-count 3000 руб.
      + налоги и проценты
      %span.fees 600 руб.
      \= отдаете
      %span.secondary-count 3600 руб.
    %span.recalc Пересчитать        
  .loan-details
    = render "requests/form"