= title "Быстрые займы в Самаре"
.text-block
  %h3 Вам срочно понадобились деньги?
  %p 
    Наша компания помочь Вам с деньгами. Наш сервис очень простой и доступный каждому. Вы просто заполняете заявку, и 
    %em.emphasized через 15 минут 
    вы получаете деньги. 
  %p  
    Ваша кредитная история — абсолютно неважна.
    %br/
    Даже если прямо сейчас, вам не нужны деньги, не поленитесь заполнить заявку. Потом Вам будет достаточно в любое время подъехать в офис, получить деньги при предъявлении паспорта.
#step-1
  .superForm
    .bg
      %h1 
        Займы без залога до 
        = succeed "!" do
          %span{:class => "emphasized"}<
            10
            %span.half-space
            000 рублей
            
      = render "form"
    .b-star.b-star-15_minutes
    .b-star.b-star-2_docs
    .b-ruble-guy
  .b-content-body
    .b-content-main
      %p
        Займы (деньги) предоставляются в течении 
        %em.emphasized 15 минут
        с момента заполнения заявки.
        %br/
        Гарантированное получение при условии предоставления достоверной информации в заявке.    
        %ul
          %li Сумма займа 1000 — 10000 рублей.
          %li Срок займа от 7 до 14 дней.
          %li Без залога. Без справок!
          %li Без комиссии.
          %li Процентная ставка по займу — 2% в день (732% годовых) за каждый день пользования денежными средствами.
      %br/     
      
    .b-content-footnotes
      %h2 Филиалы
      .branch
        %span.addr 
          ул. Советская, 52
        %span.time ежедневно 10:00 — 19:00        
      .branch
        %span.addr 
          ул. Звездная, 16 
        %br/
        (на территории магазина «Пятерочка»)
        %span.time ежедневно 10:00 — 19:00        
    
      .b-affiliate-button
        %h3 У нас действует выгодная
        %a{:href => url_for_affiliate}
          %span.new-button-small
            %div{:class => "b-form-button"} партнерская программа 
    .clear
    %br/
    %h2 Наша программа выдачи
    .b-content-main_wide
      %table
        %thead
          %tr
            %th{:width => "10%"} Тип клиента
            %th{:width => "5%"} Возраст
            %th{:width => "10%"} Документы
            %th{:width => "13%"} Автомобиль
            %th{:width => "12%"} Работа
            %th{:width => "15%"} Сумма
            %th{:width => "25%"} Контактные лица
        %tbody
          %tr
            %td{:style => "font-weight: bold;"} «Студент»
            %td 18–21
            %td 2 документа
            %td необязательно
            %td обязательно
            %td до 10000 рублей
            %td 
              %ol
                %li родитель(ли)
                %li ближайший родственник (бабушка или дед, брат или сестра)
          %tr
            %td{:style => "font-weight: bold;"} «Авто»
            %td 21–65
            %td 2 документа, свидетельство о регистрации авто обязательно
            %td 
              %ol
                %li любая иномарка
                %li ВАЗ, с 1995 г. выпуска
                %li Газель, с 2000 г.
                %li грузовик, с 1995 г. 
            %td 
              необязательно, 
              %br/
              но желателен источник дохода
            %td до 10000 рублей
            %td 
              %ol
                %li ближайщий родственник, при наличии — супруг или супруга
                %li любое второе контактное лицо
          %tr
            %td{:style => "font-weight: bold;"} «Работающий»
            %td 23–65
            %td 2 документа
            %td необязательно
            %td обязательно
            %td до 10000 рублей
            %td обязательны
          %tr
            %td{:style => "font-weight: bold;"} «ИП»
            %td 25–65
            %td 
              %ol
                %li паспорт
                %li свидетельство о регистрации ИП
            %td необязательно
            %td любое возможное подтверждение деятельности
            %td до 10000 рублей
            %td
              %ol
                %li ближайщий родственник, при наличии — супруг или супруга
                %li любое второе контактное лицо 
          %tr
            %td{:style => "font-weight: bold;"} «Пенсионер»
            %td до 65
            %td 
              %ol
                %li паспорт
                %li пенсионное удостоверение
            %td необязательно
            %td 
              необязательно, 
              %br/
              но желателен источник дохода
            %td до 10000 рублей
            %td
              %ol
                %li родственники (дети)
                %li друзья (соседи)
    
                
#step-2
  .loan-conditions
    .b-loan-results
      Занимаете
      %span.primary-count 3000 руб.
      + налоги и проценты
      %span.fees 600 руб.
      \= отдаете
      %span.secondary-count 3600 руб.
    %span.recalc Пересчитать        
  .loan-details
    = render "requests/form"