<div id="mini" class="<%= emphasize_if_linked %>">
  <a href="#miniBox" rel="facebox[.miniBox]">
    <h4>Мини-анкета <span class="red-mark">новинка</span></h4>
  </a>
  <p class="lid">Не хотите долго и нудно заполнять большое количество полей?</p>
  <p><a href="#miniBox" rel="facebox[.miniBox]">Заполните</a> нашу новую мини-анкету, это займет всего пару секунд!</p>
</div>