= title "Быстрые займы в Самаре | Магазин Кредитов"
#step-2{:style => "display: block;"}
  .loan-conditions
    .b-loan-results
      Занимаете
      %span.primary-count 3000 руб.
      + налоги и проценты
      %span.fees 600 руб.
      \= отдаете
      %span.secondary-count 3600 руб.
  .loan-details
    = render "form"

= render "requests/mini_box"