= title "Быстрые займы в Самаре | Магазин Кредитов"

.b-header
  %h2.emphasized Магазин Кредитов
  %h1 Онлайн заявка
  
.b-greetings
  %p
    %strong Приветствуем вас!
    %br/
    Срочно понадобились деньги? Расскажите нам о себе: заполните следующие поля и отправьте нам заявку.
    Наш консультант свяжется с вами и объяснит все дальнейшие действия.    
  .b-phone
    %p
      %span.list-title Заявку можно подать и по телефонам:
      %span.number.emphasized{:style => "margin-left: 1.45em;"} (846) 997-15-55
      %span.number.emphasized +7 (927) 606-31-85
%hr/
%br/
%br/
.b-info
  %p.big 
    Займы (деньги) предоставляются в течении 
    %span.emphasized 15 минут 
    с момента заполнения заявки. Гарантированное получение при условии предоставления достоверной информации в заявке.
  %ul.list
    %li Сумма займа 1000 — 10000 рублей.
    %li Срок займа от 7 до 16 дней.
    %li Без залога. Без Справок!
    %li Без комиссии.
    %li Процентная ставка по займу — 2% в день за каждый день пользования денежными средствами.
  %p.big Займы предоставляются физическим лицам, имеющим прописку в г.Самара и постоянное место работы.
  %span.list-title Для оформления достаточно предъявить паспорт гражданина РФ и один из следующих документов:
  %ul.list
    %li заграничный паспорт;
    %li военный билет;
    %li страховое свидетельство государственного пенсионного страхования;
    %li водительское удостоверение;
    %li ИНН.

%hr/  
%br/
%br/ 
%br/  
= render "form"