= title "Быстрые займы в Самаре | Магазин Кредитов"

.b-header
  %h2.emphasized Магазин Кредитов
  %h1 Онлайн заявка
  
.b-greetings
  %p
    %strong Приветствуем вас!
    %br/
    Срочно понадобились деньги? Расскажите нам о себе: заполните следующие поля и отправьте нам заявку.
    Наш консультант свяжется с вами и объяснит все дальнейшие действия.    

%hr/  
%br/
%br/ 
%br/  
= render "form"