= title "Заявка отправлена | Магазин Кредитов"

%br/
%br/
%br/
%br/
%h1.emphasized
  Ваша заявка успешно принята.
  
- if @request.is_mini?
  %p Скоро с вами по телефону свяжется наш специалист.
  
  - if @is_in_black_list?
    %p 
      Ваша заявка одобрена, можете подъезжать в любой из наших 
      = link_to "офисов", offices_path
      за деньгами.
  - else
    %p 
      Извините, вам отказано. Попробуйте подъехать в один из наших 
      = link_to "офисов", offices_path 
      и заполнить более подробную анкету.
