<%= title request_title(@request) %>

<h1><%= request_title(@request) %></h1>
<h2>от <%= @request.created_at.strftime("%d.%m.%Y") %></h2>

<div class="section">
  <h3>Личные данные</h3>
</div>

<div class="section">
  <h3>Документы</h3>
</div>

<div class="section">
  <h3>Адреса и телефоны</h3>
</div>

<div class="section">
  <h3>Контактные лица</h3>
</div>

<div class="section">
  <h3></h3>
</div>

<div class="section">
  <h3></h3>
</div>

<div class="section">
  <h3></h3>
</div>

<div class="section">
  <h3></h3>
</div>

<div class="section">
  <h3></h3>
</div>

<div class="section">
  <h3></h3>
</div>

<div class="section">
  <h3></h3>
</div>


