- title "Инвестиционный проект под экспресс-займы населению"

.b-article
  %h1 Инвестиционный проект под экспресс-займы населению
  %p.lid Наша организация успешно функционирует 10 месяцев как 7 офисов продаж финансовых услуг.
  %p 
    Востребованность по одной точке продаж составляет 
    %em.emphasized 8–20 договоров 
    в день. Работа ведется без выходных. Денежные займы (кредиты) выдаются согласно условиям, разработанными нашей организацией, с которыми можно 
    = link_to "ознакомиться", root_url(:anchor => "paytypes")
    на нашем сайте. 
  %p
    Начисление процентов составляет
    %em.emphasized 2% в день 
    взятой суммы.
  %p
    %span.b-list-header Условия для инвестирования
    
    %ol
      %li Сумма от 100 000 рублей.
      %li Капитализация от 36% годовых.
      %li Срок 2 года.
      %li Первая выплата от 36% за год или 3% ежемесячно.
      %li Выплата основной суммы и от 36% за второй год по окончании договора.
      %li За 1 000 000 рублей предлагается 3% в Уставном капитале.
  
  %p
    Подробную информацию, можно получить по телефону 
    = succeed "." do
      %em.emphasized{:style => "font-size: 16px; font-weight: bold;"} +7 (927) 606-31-85
.clear
    