<% title "Условия предоставления займа" %>

<div class="b-article">
  <h1>Условия предоставления займа</h1>
  <ol>
    <li>Я предоставил Займодавцу Анкету на получение займа.</li>
    <li>Информация, предоставленная мной Займодавцу, является полной, точной и достоверной во всех отношениях.</li>
    <li>Я обязуюсь незамедлительно уведомлять Займодавца о любых изменениях в информации, предоставленной мною Займодавцу.</li>
    <li>Я выражаю свое согласие на предоставление Займодавцем (в случае нарушения мной условий погашения займа и/или процентов, а также любых платежей по Договору Займа) информации, связанной с заключением и исполнением Договора Займа (в том числе о суммах задолженности), новому Кредитору в связи с уступкой Займодавцем требования к Заемщику.</li>
    <li>Займодавец проводит любые требуемые, по своему мнению, проверки (в частности, может связаться в любой момент времени, (в том числе, в случае принудительного исполнения прав по Договору займа) с моим работодателем для проверки и получения любой необходимой информации). Данное согласие действует бессрочно со дня его оформления. Данное согласие сохраняет силу в течение всего срока действия Договора.</li>
    <li>Принятие к рассмотрению моей Анкеты не означает возникновения у Займодавца обязательства по предоставлению мне займа.</li>
    <li>В случае отказа в предоставлении займа Займодавец не сообщает причин отказа.</li>
    <li>Я выражаю свое согласие на осуществление Займодавцем обработки (сбора, систематизации, накопления, хранения, уточнения (обновления, изменения), использования, распространения, обезличивания, блокирования и уничтожения), в том числе автоматизированной, моих персональных данных, указанных в настоящей Анкете-Заявлении, в соответствии с требованиями Федерального закона от 27.07.2006 №152-ФЗ «О персональных данных». Указанные мной персональные данные предоставляются в целях получения займа и исполнения Договора займа, а также информирования меня о других продуктах и услугах Займодавца. Согласие предоставляется с момента подписания настоящей Анкеты-Заявления на весь срок моей жизни</li>
    <li>Займодавец может осуществлять передачу данных указанных в данной Анкете (в объеме: фамилия, имя, отчество, адрес и номера телефонов заявителя и всех контактных лиц, указанных заявителем) для их обработки третьим лицам с целью исполнения Договора займа и всех моих обязательств связанных с ним.</li>
    <li>Настоящее согласие может быть отозвано мной при предоставлении займодавцу заявления в простой письменной форме в соответствии с требованиями законодательства Российской Федерации.</li>
  </ol>

  <p>Я выражаю свое согласие на предоставление Займодавцем в целях формирования моей кредитной истории всех необходимых сведений обо мне, о моих обязательствах по настоящей Анкете и иной информации, предусмотренной Федеральным законом «О кредитных историях» в одно или несколько бюро кредитных историй в порядке, предусмотренном указанным Федеральным законом. Право выбора бюро кредитных историй предоставляется мною займодавцу по его усмотрению и дополнительного согласования со мной не требует.</p>
</div>
